#share-menu {
  position: fixed;
  left: auto;
}
@media only screen and (min-width: 2560px) {
  #share-menu {
    right: 29%;
    top: 13%;
  }
}
@media only screen and (max-width: 2559px) {
  #share-menu {
    right: 28%;
    top: 13%;
  }
}
@media only screen and (max-width: 1919px) {
  #share-menu {
    right: 21%;
    top: 13%;
  }
}
@media only screen and (max-width: 1439px) {
  #share-menu {
    right: 21%;
    top: 13%;
  }
}
@media only screen and (max-width: 1023px) {
  #share-menu {
    right: 0;
    top: 13%;
  }
}
@media only screen and (max-width: 767px) {
  #share-menu {
    right: 0;
    top: 0;
  }
}
